/* Domyślnie wartość jest ukryta (widoczny sam suwak) */
.s_website_form_field[data-type="range"] .slider-value-display {
    display: none !important;
}

/* Pokazanie wartości na podstawie atrybutu */
.s_website_form_field[data-valuepos="top"] .slider-value-display,
.s_website_form_field[data-valuepos="bottom"] .slider-value-display,
.s_website_form_field[data-valuepos="left"] .slider-value-display,
.s_website_form_field[data-valuepos="right"] .slider-value-display {
    display: block !important;
}

/* --- KIERUNKI (Modyfikacja flexboxa z Bootstrapa) --- */

/* Prawa / Lewa strona */
.s_website_form_field[data-valuepos="right"] .s_slider_wrapper { flex-direction: row; }
.s_website_form_field[data-valuepos="left"] .s_slider_wrapper { flex-direction: row-reverse; }

/* Góra / Dół */
.s_website_form_field[data-valuepos="top"] .s_slider_wrapper { 
    flex-direction: column-reverse; 
    align-items: stretch !important; 
}
.s_website_form_field[data-valuepos="bottom"] .s_slider_wrapper { 
    flex-direction: column; 
    align-items: stretch !important; 
}
.s_website_form_field[data-valuepos="top"] .slider-value-display,
.s_website_form_field[data-valuepos="bottom"] .slider-value-display {
    text-align: center;
}